<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d992b2">  <td>18/10/09 15:08:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.initialize()[pri:0, instance:testSuite.TestGetUserCases@3ffc5af1]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>18/10/09 15:08:23</td>   <td>633</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestGetUserCases.setBaseUrl()[pri:0, instance:testSuite.TestGetUserCases@3ffc5af1]">&gt;&gt;setBaseUrl</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>18/10/09 15:08:26</td>   <td>3613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGetUserCases.testSuccesfulRequest()[pri:0, instance:testSuite.TestGetUserCases@3ffc5af1]">testSuccesfulRequest</td> 
  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>18/10/09 15:08:28</td>   <td>4941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGetUserCases.testUnSuccesfulRequest()[pri:0, instance:testSuite.TestGetUserCases@3ffc5af1]">testUnSuccesfulRequest</td> 
  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>18/10/09 15:08:29</td>   <td>5741</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:testSuite.TestGetUserCases@3ffc5af1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@517210187</td>   <td></td> </tr>
</table>
